
MCSoundBoard.xcodeproj/project.xcworkspace/contents.xcworkspacedata

MCSoundBoard.xcodeproj/project.xcworkspace/xcuserdata/baglan.xcuserdatad/UserInterfaceState.xcuserstate

MCSoundBoard.xcodeproj/xcuserdata/baglan.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

MCSoundBoard.xcodeproj/xcuserdata/baglan.xcuserdatad/xcschemes/MCSoundBoard.xcscheme

MCSoundBoard.xcodeproj/xcuserdata/baglan.xcuserdatad/xcschemes/xcschememanagement.plist
